@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('/main-bg.webp') no-repeat center center fixed;
  background-size: cover;
}

@layer base {
  :root {
    --background: #121212;
    --background-secondary: #242424;
    --foreground: #fafafa;
    --card: #171717;
    --card-foreground: #fafafa;
    --popover: #242424;
    --popover-foreground: #fafafa;
    --primary: #3ecf8e;
    --primary-foreground: #fafafa;
    --primary-gradient: #006239;
    --secondary: #296eb4;
    --secondary-foreground: #fafafa;
    --muted: #898989;
    --border: #2e2e2e;
    --input: #2e2e2e;
    --icon: #b4b4b4;
    --destructive: #c3423f;
  }
  .dark {
    --background: #121212;
    --background-secondary: #242424;
    --foreground: #fafafa;
    --card: #171717;
    --card-foreground: #fafafa;
    --popover: #242424;
    --popover-foreground: #fafafa;
    --primary: #3ecf8e;
    --primary-foreground: #fafafa;
    --primary-gradient: #006239;
    --secondary: #296eb4;
    --secondary-foreground: #fafafa;
    --muted: #898989;
    --border: #2e2e2e;
    --input: #2e2e2e;
    --icon: #b4b4b4;
    --destructive: #c3423f;
  }
}

@layer base {
  * {
    @apply font-sans;
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }

  .btn-primary {
    @apply bg-gradient-to-br from-primary to-primary-gradient w-full text-foreground font-semibold p-6 rounded hover:brightness-90 transition-all duration-300;
  }
}
