@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/main-bg.webp") no-repeat center center fixed;
  background-size: cover;
}

@layer base {
  :root {
    --background: #121212;
    --foreground: #FAFAFA;
    --card: #171717;
    --card-foreground: #FAFAFA;
    --popover: #242424;
    --popover-foreground: #FAFAFA;
    --primary: #3ecf8e;
    --primary-foreground: #FAFAFA;
    --primary-gradient: #006239;
    --secondary: #296EB4;
    --secondary-foreground: #FAFAFA;
    --muted: #898989;
    --border: #2e2e2e;
    --input: #2e2e2e;
    --icon: #B4B4B4;
    --destructive: #C3423F;
  }
  .dark {
    --background: #121212;
    --foreground: #FAFAFA;
    --card: #171717;
    --card-foreground: #FAFAFA;
    --popover: #242424;
    --popover-foreground: #FAFAFA;
    --primary: #3ecf8e;
    --primary-foreground: #FAFAFA;
    --primary-gradient: #006239;
    --secondary: #296EB4;
    --secondary-foreground: #FAFAFA;
    --muted: #898989;
    --border: #2e2e2e;
    --input: #2e2e2e;
    --icon: #B4B4B4;
    --destructive: #C3423F;
  }
}

@layer base {
  * {
    @apply font-sans;
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}
